:root {
    --primary: #e6b91e;
    --primary-dark: #FFCF21;
    --secondary: #5f6360;
    --simdb-dark: #191919;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.7;
  font-weight: 400;
  color: #6c757d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
	Base Styles
*/
#content,
#wrap {
  position: relative;
}

#wrap {
  overflow: hidden;
}

#content {
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #fff;
/*  background-image: url('../img/6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;*/
}

#content::before {
  content: '';
  display: table;
}

#content::after {
  content: '';
  display: table;
  clear: both;
}

iframe {
  max-width: 100%;
  border: none;
}

audio {
  width: 100%;
}

body.archive #content {
  padding-top: 70px;
  padding-bottom: 70px;
}

body.archive.woocommerce #content {
  padding-top: 0;
}

body.archive.woocommerce .woocommerce-pagination:last-child {
  margin-bottom: 0;
}

body.blog #content {
  padding-top: 70px;
  padding-bottom: 70px;
}

body.blog .main-sidebar {
  margin-top: 0 !important;
}

a {
  text-decoration: none;
  color: var(--primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: var(--primary-dark);
}

a.text-primary {    
  color: var(--primary);
}

a.text-primary:focus,
a.text-primary:hover {
  color: var(--primary-dark);
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--primary);
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

dd {
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  border: 1px solid #dedede;
}

table tr {
  border-bottom: 1px solid #dedede;
}

table td,
table th {
  padding: 0.45em 1em;
}

table tbody td,
table tbody th {
  border-right: 1px solid #dedede;
}

table thead th {
  border-right: 1px solid #dedede;
}

table.wp-block-table {
  border-color: #dedede;
}

table.wp-block-table td,
table.wp-block-table tr {
  border-color: inherit;
}

table.wp-block-table th {
  border-color: inherit;
  padding: 0.45em 1em;
}

table.wp-block-table td {
  padding: 0.45em 1em;
}

pre {
  margin-bottom: 1.5em;
}

/* Input number arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Search field */
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-search {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* Logo Login */
.logo-thumbnail {
    max-width: 200px;
}

.film-thumbnail {
    height: 300px;
    overflow: hidden;
}

.film-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Stepwizard */
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard-row::before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  -webkit-appearance: unset !important;
}


.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}