<%-- any content can be specified here e.g.: --%>
    <script src="/simdb/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/simdb/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>